<Configuration status="warn" name="MyApp" packages="">
	<Appenders>
		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%date %level %logger:%line[%threadName] %message%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%date %level %logger{1}:%line[%threadName] %message%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>